.projectsWrapper{
    height:100%;
    background-color: rgb(247,247,247);
}

.leftTitle{
    margin-top:7%;
    margin-bottom:3%;
    font-weight:700;
}

.leftElement{
    margin-left:10%;
    width:80%;
}

.visualizer{
    height:30%;
}

.laptopOutline{
    position:relative;
    height:80%;
    width:75%;
    margin-left:10%;
    margin-top:5%;
}

.visualizerGif{
    position: absolute;
    width:43%;
    height:46%;
    right:30.8%;
    top:9%;
    border-radius:2%;
    border:2px black solid;
    margin-top:5%;
}

.links{
    display:flex;
    padding-left:10%;
}

.liveLinkOuterLayer{
    width:30%;
    height:5%;
    background-color:transparent;
    border:1px black solid;
    display:flex;
    justify-content: center;
}

.liveLinkOuterLayer:hover{
    animation-name: hoverButton;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
    font-weight: 800;
}

.liveLinkOuterLayer:hover>*{
    color:white !important;
}

@keyframes hoverButton {
    from{
        background-color: transparent;
        color:black;
    } to {
        background-color:black;
        color:white;
    }
}

.sourceCode{
    width:30%;
    height:5%;
    background-color:transparent;
    font-weight: 800;
    display:flex;
    justify-content: center;
    margin-left:10px;
}

.sourceCode:hover{
    animation-name: hoverSourceCodeButton;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    cursor: pointer;
    font-weight: 800;
}

@keyframes hoverSourceCodeButton {
    from{
        transform:translateX(0px);
    } to {
        transform:translateX(8px);
    }
}

.liveLinkLink{
    color:black !important;
    text-decoration: none !important;
    font-weight:500 !important;
    display:flex;
    justify-content: center;
    width:100%;
}

.liveLinkLink:hover{
    color:white !important;
}

.sourceCodeLink{
    color:black !important;
    text-decoration: none !important;
}


.visualizerFocusOn{
    animation-name:focusOn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes focusOn{
    from{
        filter:blur(0.3rem);
    } to {
        filter:blur(0rem);
    }
}