.App {
  text-align: center;
  background-color: #e4e4e4;
}

#main{
  height:100vh;
  padding-left:3.5rem;
  padding-right:3.5rem;
  padding-top:5rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 750px) {
  .App {
    text-align: center;
    background-color: #e4e4e4;
  }
  #main{
    margin-bottom:30rem;
  }
}


#navbar{
  background-color: #222222 !important;
  position:sticky;
}

#footer{
  background-color: #222222 !important;
  color:white !important;
  height:8rem !important;
  position:sticky;
}

.portrait{
  margin-bottom:2.5rem;
  height:19.5rem;
  width:16.5rem;
  margin-left:3rem;
}

#fse{
  color:white;
  font-weight:500;
}

#myStory{
  line-height: 1.95rem;
}

.link{
  padding:1rem;
}

.links{
  display:flex;
  justify-content: center;
}

#AJ{
  justify-content: center;
}

